<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <header>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">¿Quien soy?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./estudios.html">Estudios</a>
            </li>
          </ul>
    </header>
    <h1 class="center">Experiencia</h1>
    <section class="flex center">
        <div class="col2 borde">
            <div>
                <h2>Actividades laborales</h2>
            </div>
            <div>
                <p>Practicas de convalidación de CFGM en Apalan Infor S.L.U.</p>
            </div>
        </div>
        <div class="col2 borde">
            <div>
                <h2>Actividades no laborales</h2>
            </div>
            <div>
                <p>Proyecto de programacion con Arduino para diseñar un sensor de medición de CO2 que hay en un aula escolar</p>
                <p>Clases particulares de matematicas a alumnos de 1o y 2o de Educación Secundaria Obligatoria</p>
            </div>
        </div>
    </section>
</body>
</html>